body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    text-align: center;
   }

div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}